################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/TestAmazon/FileContentIndex/88292122-6419-4f57-91e5-c487d6e998b8.vsidx
/.vs/TestAmazon/FileContentIndex
/packages/EntityFramework.6.4.4
/TestAmazon
