################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/TestAmazon/FileContentIndex/f3b0d116-597e-48d9-a0cc-af879cdefbd3.vsidx
/.vs/TestAmazon/FileContentIndex/d0bf4c59-0012-4376-8609-cd82e3991a8a.vsidx
