@model TestAmazon.Models.Utente

@{
    ViewBag.Title = "AddAmministratore";
}

<div align="left" style="display: inline">
    <button class="btn btn_personal searchbarbtn" onclick="history.back()"><i class="fa-solid fa-arrow-left fa-xl"></i></button></div>


<h2>Aggiungi un nuovo Amministratore</h2>



<img class="logo" src="~/IMGS/logo.png" style="max-height:60px" />

<div class="form">
    <form method="post" action="AddAmministratore">
        <h4>Nuovo Admin</h4><br />
        @{
            if (@ViewBag.Errore != null)
            {
                <p style="color:red">@ViewBag.Errore.ToString()</p>
            }
        }
        <label>Nome</label><br />
        <input class="inp" type="text" name="Nome" /><br />
        <label>Cognome</label><br />
        <input class="inp" type="text" name="Cognome" /><br />
        <label>Email</label><br />
        <input class="inp" type="text" name="Email" /><br />
        <label>Password</label><br />
        <div class="occhio">
            <input class="inp" type="password" name="Password" /> <button class="btnp" type="button" onclick="if (Password.type == 'text') Password.type = 'password';
  else Password.type = 'text';">
                <i class="fa-solid fa-eye"></i>
            </button>
        </div><br />
        <input class="sub " type="submit" value="Continua">
    </form>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


