.prodotto {
    
    width: 20%;
    height: 300px !important;
    max-width: 30%;
    min-width: 250px;
    margin: 10px;
    padding-bottom:20px;
    float: none;
    border-radius:10px;
    background-color:white;
}

body {
    background-color: rgb(232, 232, 232)
}
.img_personal {
    max-height: 160px !important;
    max-width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    transform: translate(0%, 15%);
}

.p_prodotto {
    font-family: 'Times New Roman';
    color: white;
    font-size:12px;
}
.btn_personal {
    font-family: 'Times New Roman';
    color: white;
    font-size: 12px;
    background-color: rgb(48, 71, 94)
}




.color1 {
    background-color:rgb(232, 232, 232)
}

.color2 {
    background-color: rgb(240, 84, 84)
}

.color3 {
    background-color: rgb(34, 40, 49)
}
.colornavBar {
    background-color: rgb(48, 71, 94);
}

.img_thumb {
    /*width:125px;*/
    max-width: 90%;
    height: 100%;
    padding: 10px;
}
