.prodotto {
    background-color: rgb(255,255,255);
    width: 20%;
    /*height:250px;*/
    min-width: 250px;
    margin: 10px;
    float: none;
}

.prodottoVuoto {
    background-color: rgb(204,204,204);
    width: 250px;
    height: 250px;
}

.color1 {
}

.color2 {
}

.color3 {
}

.img_thumb {
    /*width:125px;*/
    max-width: 90%;
    height: 100%;
    padding: 10px;
}
